
h1{
	color: black;
   font-size: 60px 
}

.projet
{	
	display: inline-block;
	width: 300px;
	margin-bottom: 10px;
}
.projet img{
	width: 200px;
}	

section, header
{	
	margin: 0 auto;
	text-align: center;
}

footer
{
	background-color: #676767;
	
	text-align: right;
	color: white;
	padding: 10px;
	box-sizing: border-box;
	position: absolute;
	bottom: 0%;
	width: 100%;

}